@font-face {
  font-family: 'LazyDog';
  src: url('./LazyDog.woff2') format('woff2');
}

.App {
  font-family: 'LazyDog', sans-serif;
  text-align: center;
}
.h1
{
color: blue;

}
.tablero{
  background-color: #c7631f; /* Color madera claro */
  border: 2px solid #A78A7F; /* Bordes con tono madera más oscuro */
  background: #A78A7F;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
