.App {
  display: flex;
}

.sidebar {
  background-color: #333;
  padding: 20px;
  width: 200px;
  color: white;
}

.add-task-btn {
  background-color: #ffaa00;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.task-card {
  background-color: #ffefc2;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
}

.modal button {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffaa00;
  color: white;
  border: none;
  cursor: pointer;
}
