
.barra-de-funciones {
    display: flex;
    flex-direction: column; /* Orienta la barra verticalmente */
    align-items: center;
    background: linear-gradient(to bottom, #000000cf, #000000ac);
    padding: 10px;
    border-radius: 5px 0 0 5px; /* Bordes redondeados en el lado izquierdo */
    position: fixed; /* Fija la barra en la pantalla */
    top: 0;
    right: 0; /* Ancla la barra al borde derecho */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
  }
  
  .boton-funcion {
    font-family: 'LazyDog', sans-serif;
    background-color: yellow;
    color: rgb(0, 0, 0);
    border: none;
    margin: 5px 0; /* Espaciado vertical entre los botones */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Hace que los botones ocupen todo el ancho de la barra */
    text-align: center;
    font-size: 3.5vh;
  }
  
  .boton-funcion {
    transition: all 0.3s ease;
  }
  
  .boton-funcion:hover {
    background-color: rgba(255, 204, 0, 0.733);
    transform: scale(1.1);
  }