.content {
  top: 0;
  right: 0;
  width: 300px; /* Ajusta el ancho del panel según tus necesidades */
  height: 20vh; /* Ocupa toda la altura de la viewport */
}
.container {
  display: flex;
  height: 10vh; /* Ocupa toda la altura de la viewport */
  color: black;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* Ajusta el ancho del panel según tus necesidades */
  height: 100vh; /* Ocupa toda la altura de la viewport */
  background-color: rgba(0, 0, 0, 0.386); /* Color de fondo opcional */
}
